<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Collections Test Suites">
            <directory>./src/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../</directory>
            <exclude>
                <directory>./test</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./build/coverage" title="Collection Coverage" charset="UTF-8" yui="true" highlight="true" />
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
    </logging>
</phpunit>